* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    position: relative;
}

section {
    background-color: white;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

textarea,
input {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    border: 2px solid var(--light-purple);
    padding: 7px;
    border-radius: 12px;
    display: block;
    width: 100%;
}

textarea:focus,
input:focus {
    outline: auto 2px var(--yellow);
}

textarea {
    resize: vertical;
}

label {
    font-family: 'Questrial', sans-serif;
    display: block;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.section-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    opacity: 0;
    font-family: 'Questrial', sans-serif;
    font-size: var(--small-h);
    text-align: center;
}

.section-title span {
    color: var(--purple);
    font-size: var(--medium-h);
}