header {
    background-image: url('../i/header/min/bg-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -10;
}

.header-social a {
    color: white;
    cursor: pointer;
    z-index: 5;
}

.header-social a:not(:first-child) {
    margin-left: 20px;
}

.header-social {
    font-size: var(--large-h);
    position: absolute;
    left: 1em;
    top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top {
    height: 100vh;
    position: relative;
}

.header-wrapper {
    position: relative;
    height: 100vh;
}

.header-title {
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    color: white;
    letter-spacing: 1.7px;
    font-size: var(--extra-large-h);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.header-4 {
    background-image: url('../i/header/min/4-min.png');
    background-position: 0 0;
    z-index: -4;
}

.header-3 {
    background-image: url('../i/header/min/3-min.png');
    background-position: center;
    background-position: 0 0;
    z-index: -3;
}

.header-2 {
    background-image: url('../i/header/min/2-min.png');
    background-position: 0 150px;
    z-index: -2;
}

.header-1 {
    background-image: url('../i/header/min/1-min.png');
    background-position: 30px 30%;
    z-index: -1;
}

.header-0 {
    background-image: url('../i/header/min/0-min.png');
    background-size: 30%;
    background-position: 0 150%;
}

.header-parallax {
    position: absolute;
    background-size: cover;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    height: 100%;
}

#header-transition {
    width: 100%;
    border-radius: 55% 55% 70% 70%;
    height: 15vh;
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: var(--purple);
}

.header-square-top {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.header-square-bottom {
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 2em;
    height: 2em;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    z-index: -5;
}

.fa-angles-down {
    font-size: 30px;
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-align: center;
    color: white;
    z-index: -5;
}