main {
    background-color: #fff;
    z-index: 1;
    position: relative;
    background-color: var(--purple);
    padding-bottom: 70px;
}

#about {
    background-color: #fff;
    height: 100%;
    margin-top: 50px;
}

#about::after,
#skill::after {
    content: '';
    bottom: -2px;
    position: absolute;
    right: 0;
    left: 0;
    height: 4px;
    background-color: #fff;
}

.about-title {
    height: 100%;
    background-color: var(--purple);
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    border-radius: 0 0 50% 50%;
}

.about-title-header {
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    font-size: var(--large-h);
    color: var(--light-purple);
}

.about-title-subheader {
    font-family: 'Questrial', sans-serif;
    font-size: var(--extra-large-h);
    color: white;
    padding-bottom: 20px;
}

.about-aside {
    height: 100%;
    background-color: white;
    width: 60%;
    margin-left: auto;
    border-radius: 70% 40% 20% 40%;
    margin-top: 100px;
    padding: 15%;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.3px;
    font-size: 18px;
}

.about-aside span:first-child {
    display: block;
    padding-bottom: 20px;
    font-size: 30px;
}

.about-aside span {
    font-weight: bold;
    color: var(--purple);
    font-size: 20px;
}

.skill-list-item {
    padding: 50px 0;
}

.skill-list-item-stats {
    font-family: 'Questrial', sans-serif;
    color: var(--gray);
    font-weight: bold;
    font-size: var(--extra-small-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 0px;
}

.skill-list-item-tags {
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skill-list-item-tag {
    padding: 7px 25px;
    background-color: var(--purple);
    border-radius: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 0.8em;
    white-space: nowrap;
}

.skill-list-item-tag:not(:first-child) {
    margin-left: 10px;
}

.skill-list-item-stats::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--gray);
}

.skill-list-process {
    background-color: var(--purple);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    z-index: 2;
}

.skill-list-percentage {
    color: var(--purple);
}

.projects-title-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-title {
    font-family: 'Questrial', sans-serif;
    font-size: var(--small-h);
    text-align: center;
}

.projects-title span {
    color: var(--purple);
    font-size: var(--medium-h);
}

.projects-list-item img {
    width: 50%;
    display: block;
    border-radius: 20px;
    transform: rotateY(-40deg);
}

.projects-list-item:nth-child(even) img {
    transform: rotateY(40deg);
}

.projects-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
    perspective: 1200px;
}

.projects-list-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.projects-list-item:not(:first-child) {
    margin-top: 150px;
}

.projects-list-item:last-child {
    margin-bottom: 70px;
}

.projects-list-item p {
    display: block;
    margin: 30px 0;
}

.projects-list-item:nth-child(odd) p {
    padding-right: 10%;
}

.projects-list-item:nth-child(even) .projects-list-item-content {
    padding-left: 10%;
}

.projects-list-item-title {
    padding: 10px;
    font-size: var(--small-h);
    font-family: 'Questrial', sans-serif;
    background-color: var(--purple);
    display: inline;
    color: white;
}

.projects-list-item-title span {
    color: var(--light-purple);
}

#projects {
    padding-bottom: 100vh;
}

.projects-list-item-link {
    color: var(--light-purple);
    text-decoration: underline;
}

.project-transition {
    position: absolute;
    background-color: white;
    z-index: 3;
    right: 0;
    left: 0;
    bottom: -50px;
    height: 5%;
    border-radius: 0 0 30% 30%;
}

.projects-slider-item {
    background-color: var(--purple);
    padding: 50px 20px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin: 0 10px;
    letter-spacing: 0.8px;
    cursor: pointer;
    border-radius: 20px;
}

.projects-slider-item p {
    color: white;
}

.projects-slider-name {
    color: var(--light-purple);
    font-family: 'Questrial', sans-serif;
    font-size: var(--medium-h);
    margin-bottom: 10px;
}

.projects-slider-name i {
    padding-left: 10px;
}

.wishes {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    font-size: var(--small-h);
    color: var(--light-purple);
    font-family: 'Questrial', sans-serif;
    right: 0;
    left: 0;
    letter-spacing: 1.7px;
    z-index: 5;
    background-color: var(--purple);
    height: 20vh;
    border-radius: 20% 20% 0 0;
}

#inertia {
    width: 100%;
}